<div
  id="{{ widget.id }}"
  class="core-divider widget-{{ widget.id }}"
  data-widget-id="{{ widget.id }}"
  data-widget-type="core-divider"
  {% if widget.index != null %}data-widget-index="{{ widget.index }}"{% endif %}
>
  <style>
    .widget-{{ widget.id }} {
      padding: {{ widget.settings.padding }}px 0;
      width: 100%;
    }

    .widget-{{ widget.id }} .divider-line {
      height: {{ widget.settings.thickness }}px;
      background-color: {{ widget.settings.color }};
      width: {{ widget.settings.width }}%;
      margin: 0 auto;
    }
  </style>

  <div class="divider-container">
    <div class="divider-line"></div>
  </div>
</div>
