<footer
  id="{{ widget.id }}"
  class="widget widget-footer color-scheme-{{ widget.settings.color_scheme }}"
  data-widget-id="{{ widget.id }}"
  data-widget-type="footer"
  {% if widget.settings.color_scheme == 'highlight' %}style="--widget-bg-color: var(--bg-primary);"{% endif %}
>
  <style>
    .widget-{{ widget.id }} .footer-logo {
      max-width: {{ widget.settings.logo_width | default: 100 }}px;
    }
  </style>


  <div class="footer-content">
    {% if widget.settings.logo != blank %}
      {% image src: widget.settings.logo, size: 'small', class: 'footer-logo', alt: 'Footer Logo' %}
    {% endif %}

    {% if widget.settings.footerNavigation %}
      {% render 'menu',
        menu: widget.settings.footerNavigation,
        aria_label: 'Footer',
        class_nav: 'footer-nav',
        class_list: 'footer-menu',
        class_item: 'footer-menu-item',
        class_link: 'footer-menu-link',
        class_submenu: 'hidden',
        class_has_submenu: 'hidden'
      %}
    {% endif %}

    {% if widget.settings.show_social %}
      <div class="social-links footer-social">
        {% render 'social-icons', social: theme.social %}
      </div>
    {% endif %}

    {% if widget.settings.copyright != blank %}
      <p class="footer-copyright" data-setting="copyright">
        {{ widget.settings.copyright }}
      </p>
    {% endif %}
  </div>
</footer>
