<div
  id="{{ widget.id }}"
  class="core-spacer widget-{{ widget.id }}"
  data-widget-id="{{ widget.id }}"
  data-widget-type="core-spacer"
>
  <style>
    .widget-{{ widget.id }} {
      height: {{ widget.settings.height }}px;
      display: block;
      width: 100%;
    }

    @media (max-width: 768px) {
      .widget-{{ widget.id }} {
        height: {{ widget.settings.mobileHeight }}px;
        {% if widget.settings.showOnMobile == false %}
        display: none;
        {% endif %}
      }
    }
  </style>

  <div class="spacer-content" aria-hidden="true"></div>
</div>
